/* General settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #F5F8FA;
  color: #3b5169;
  font-family: sans-serif;
}


/* Typography */
a {
  text-decoration: none;
  color: #3b5169;
}

li {
  list-style: none;
}

p {
  line-height: 1.8;
  font-size: 16px;
  margin: 28px 0;
}

small {
  font-style: normal;
  display: block;
  font-size: 14px;
  padding-top: 30px;
}

/*Utilities*/
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1100px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}


/* Buttons */
input[type="button"] {
  transition: 0.5s;
  background-color: #f15e39;
  opacity: 0.8;
  border: none;
  border-radius: 8px;
  color: white;
  line-height: 25px;
  padding: 8px 14px;
  cursor: pointer;
}
input[type="button"]:hover {
  opacity: 1;
  background-color: #f15e39;
  transform: scale(1.1);
}


/* Navbar TOP */
.navbar-top {
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  background: #F5F8FA;
  height: 60px;
  border-bottom: 1px solid rgb(155, 152, 152);
}

.navbar-info {
  float: left;
}

.navbar-info hr {
  border: solid 1px #808080;
  margin: 0 20px;
  height: 20px;
  display: inline;
}

.navbar-info li {
  line-height: 50px;
  display: inline-block;
}

.navbar-info li i {
  padding-right: 2px;
  color: #3b5169;
  font-size: 14px
}

.navbar-info li a {
  line-height: 50px;
  display: inline-block;
}

.navbar-info {
  line-height: 0;
}

.navbar-search {
  float: right;
}

.navbar-search ul li {
  margin-left: 10px;
  line-height: 60px;
  display: inline-block;
}

.navbar-search ul li i {
  color: #12bcda;
  margin-right: 8px;
}

.navbar-search ul li input[type=text] {
  background: #f1f1f1;
  margin-right: 10px;
  border:0;
  width: 0;
}

.navbar-search ul li button {
  float: right;
  outline: none;
  font-size: 15px;
  background: #f1f1f1;
  line-height:55px;
  border:none;
  color: white;
  cursor: grab;
}

.navbar-search ul li button:focus + input[type=text] {
  display:inline-block;
  padding: 12px;
  border-radius: 20px;
  border:1px solid rgb(168, 167, 167);
  width: 180px;
}

.navbar-search li input {
  padding: 8px 15px;
}

.navbar-search li .btn-log {
  transition: all ease-out 1s;
  border: solid  #f15e39 1px;
  background:#e4e7e9;
  color:   #f15e39;
  padding: 10px 10px;
}

.navbar-search li .btn-log:hover {
  transition: all ease-out 1s;
  background-color: #f15e39;
  color: white;
}


/* Navbar DOWN */
.navbar-down {
  height: 140px;
  padding-top: 60px;
}

.navbar-menu-img {
  position: relative;
  float: left;
  height: 100%;
}

.navbar-menu-img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-menu-list {
  float: right;
  line-height: 75px;
}

.navbar-menu-item {
  padding: 0 12px;
  display: inline-block;
}



/* JUMBOTRON */
/* MAIN CONTENT*/
main i {
  color:#f15e39;
}

.main-container {
  position:relative;
  background: #fff6f0;
}

.main-container-info {
  position: relative;
  height: 695px;
  background-color: #fff4ef;
  background: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.main-container-info::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background: #bce9e4;
  border-top: 3px solid #37465a;
  border-bottom: 3px solid #37465a;
}

.main-container-text {
  height: 680px;
  padding-top: 70px;
  width: 540px;
  max-width:100%;
}

.main-container-text h1 {
  line-height: 50px;
  font-size: 50px;
}


/* CONTENT*/
.content-container {
  width: 800px;
  max-width: 100%;
  margin: 40px auto;
  text-align: center;
}
.content-container img {
  height: 180px
}


/* Free hubspot */
.free-hubspot {
  background: white;
  border-radius: 10px;
  padding: 42px 32px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.free-hubspot-content {
  float: left;
  padding: 20px 45px;
  width: 30%;
  text-align: center;
}

.free-hubspot-content img {
  display: inline-block;
  height: 100px;
}

.free-hubspot-content input {
  margin-top: 22px;
  display: inline-block;
}

.free-hubspot-text {
  float: left;
  width: 70%;
  padding-right: 50px;
}

.free-hubspot-text h4 {
  background: #fff;
  position: relative;
  text-transform: uppercase;
}

.free-hubspot-text h4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.8px;
  border-radius: 5px;
  width: 100%;
  background: #3b5169;
}

.free-hubspot-text h4 span {
  position: relative;
  background: #fff;
  display: inline-block;
  width: 35%;
}

.free-hubspot-text li {
  margin-top: 30px;
  margin-right: 15px;
  display: inline-block;
}

.free-hubspot-texti {
  margin-right: 15px;
}


/* BOXES */
.boxes {
  margin-top: 75px
}

.boxes .box-detail {
  float: left;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 42px 32px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  width: 30%;
}

.boxes .box-detail:first-child {
  margin-right: 5%
}

.boxes .box-detail:last-child {
  margin-left: 5%
}

.boxes .box-detail img {
  height: 100px;
}

.boxes .box-detail h3 {
  padding-top: 10px;
  text-transform: capitalize;
}

.boxes .box-detail hr {
  margin: 40px 0 5px 0;
  border: solid #3b5169 1px
}

.boxes .box-detail h4 {
  padding: 25px 0;
}

.boxes .box-detail ul li {
  text-align: left;
  line-height: 18px;
}

.boxes .box-detail ul li i {
  font-size: 14px;
  padding-right: 15px;
}

.boxes .box-detail input[type=button] {
  margin-top: 50px;
  margin-bottom: 0;
}


/* LEARN&GROW SECTION*/
.learn-container {
  margin: 60px 0;
  padding: 22px 0 42px 0;
  background: linear-gradient(90deg, #07e0c3,#17b7cf);
  color: #fff;
}

.learn-container-txt {
  text-align: center;
  padding: 20px 0;
}

.learn-container-table:first-child {
  border-bottom: 1px solid #fff
}

/* Colonne */
.learn-col {
  float: left;
  text-align: center;
  width: calc(100% / 4);
  padding: 22px;
}

.learn-col:nth-child(1),
.learn-col:nth-child(2),
.learn-col:nth-child(3) {
  border-right: 1px solid rgb(245, 243, 243);
}

.learn-col h4 {
  line-height: 50px;
  font-size: 40px;
}

.learn-col p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.learn-col span {
  position: relative;
  font-size: 15px;
  left: -10px;
  bottom: 8px;
}


/* GROWING SECTION*/
.growing-container .container:first-child {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}

.growing-container-text {
  float:left;
  width: 20%;
}

.growing-container-text h3 {
  font-size: 32px;
}

.growing-logo {
  float: right;
  margin-top: 8px;
}

.growing-logo img {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 40px;
}

.growing-container-info {
  float: left;
  width: 450px;
}

.woman{
  position: relative;
  right: 50px;
  bottom: 40px;
  float: right;
}

.woman img {
  height: 500px;
}


/* FOOTER */
footer {
  color: #fff;
  background: #3b5169;
  margin-top: 40px;
}

.footer-menu {
  padding: 60px 0 30px 0;
  float: left;
  width: calc(100% / 4);
}

.line {
  border-right: 1px solid #cbd6e2;
  margin-right: 50px;
}

.footer-text h5 {
  font-size: 15px;
  padding-bottom: 15px;
}

.footer-text a {
  transition: all ease-out 1s;
  color: #cbd6e2;
  line-height: 30px;
  font-size: 12px;
}

.footer-text i {
  padding-right: 14px;
  color: #cbd6e2;
  font-size: 16px;
}

.footer-text a:hover,
.footer-text i:hover {
  color: #5ed7db;
}

.footer-text input {
  margin: 12px 0;
  color: white;
  background: #5ed7db;
  padding: 10px;
  transition: all ease-out 1s;
}

.footer-text input:hover{
  background: #5ed7db;
}


/* Footer down */
.footer-languages {
  text-align:center;
  margin: 40px 0 15px 0  ;
}

.footer-languages ul li {
  display: inline-block;
}

.footer-languages ul li a {
  font-size: 16px;
  color: #cbd6e2;
  padding: 0 4px;
  margin-bottom: 10px;
  transition: all ease-out 1s;
}

.footer-languages ul li a:hover {
  transition: all ease-out 1s;
  color: #76C2D0;
}


/* footer copiright */
.footer-copi {
  text-align: center;
  padding: 25px 0;
  border-top: solid #cbd6e2 1px;
}


.footer-copi-info img {
  height: 25px;
}

.footer-copi-info p {
  margin: 0;
  line-height: 15px;
  font-size: 13px;
  color: #cbd6e2;
}


.footer-copi-info ul li {
  padding-left: 15px;
  display: inline-block;
}

.footer-copi-info ul li a {
  transition: all ease-out 1s;
  font-size: 13px;
  color: #cbd6e2;
}

.footer-copi-info ul li a:hover {
  transition: all ease-out 1s;
  color: #76C2D0;
}

.footer-copi-info li:last-child {
  border-left: 1px solid #cbd6e2;
}

.footer-copi-info li:first-child {
  padding-right: 12px;
}
